.qTable{
  background-color: #fff;
  border-radius: 3px;
  .title{
    padding: 1rem;
  }
  th, td{
    padding: 1rem 1rem;
  }
  thead{
    th{
      color: color('dark-gray');
      font-weight: normal;
    }
  }
}