@each $name, $color in $theme-colors {
  .bg-#{$name} {
    background-color: $color;
    color: color('white');
  }
}

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
    color: color('white');
  }
}