$colors: (
  "black": #2f2f2f,
  "white": #ffffff,
  "blue": #2167C9,
  "dark-blue": #084499,
  "light-gray": #d9dce1, 
  "dark-gray": #bababa
) !default;
// #1b99b3
$theme-colors: (
  "primary": #2b3b52,
  "secondary": #17a2b8,
  "danger": #dc3545,
  "warning": #ffc107,
  "success": #28a745,
  "info": #59B0EF,
  "background": #f7f7f7,

) !default;

$theme-font-size: 16px;
$theme-font-weight: 400;
$theme-font-family: Roboto,Helvetica,Arial,Sans-serif,Verdana,Tahoma;;

$topbar-height: 5vh;
$topbar-min-height: 60px;